/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variablesss */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
}

/*Navigation Bar: Logo and Image */
#logo {
    margin: 34px 45px;
}

#logo img {
    height: 56px;
    margin: 34px 45px;

}

/*Navigation Bar: List Styling */